*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #e6ecf0;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering:optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
header#main-header{
  height: 46px;
  background: #ffffff;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
  
}


header#main-header .content{
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 100%;
}

header#main-header nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}


header#main-header nav ul li{

margin-left: 30px;

}

header#main-header nav ul li a{
  display: flex;
  align-items: center;
 
  font-size: 13px;
  color: #667580;
  font-weight: bold;
  text-decoration: none;

  
}
header#main-header nav ul li:first-child{
  margin: 0;
}

header#main-header nav ul li a:hover{
  color: #31373b;
  
}
header#main-header nav ul li a img{
margin-right: 10px;
}

header#main-header div.side img{
  height: 38px;
  width: 38px;
  border-radius: 50%;
  margin: 0 15px;
}

header#main-header div.side {
  display: flex;
  align-items: center;
}

header#main-header div.side input {
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 30px 0 12px;
  border-radius: 16px;
  border: 1px solid #e6ecf0;
  background: #f5f8fa url("/images/search.svg") no-repeat 195px center;
  color: #667581;
  font-size: 12px;
}

header#main-header div.side button{
  background: #3bb9e3;
  height: 38px;
  width: 90px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}